%bt{
    border: 2px solid red;
}
%bgt{
    background-color: green;
}
#head_top{
    width:100%;
    min-height: 100vh;
    //;
    background-image: url(../img/bench-accounting-C3V88BOoRoM-unsplash.jpg);
    background-size: cover;
    background-position-y: -150px;
    box-shadow: inset 0 -1000px rgba(0, 0, 0, 0.452);
        >.row{
        height: 100%;
        >*{
            //@extend %bt;
            width: 100%;
        }
        >header{
            height: 10%;
            padding: 0 20px;
            .row{
                >*{
                    // //@extend %bt;
                    height: 100%;
                }
                >.logo{
                    align-items: center;
                    width: 6%;
                    >img{
                        width: 74px;
                        height: 80%;
                    }
                }
                >.menu{
                    width: 80%;
                        >ul{
                            width: 100%;
                            // @extend %bgt;
                            justify-content: center;
                            margin-top: 15px;
                            >li{
                                height: 40px;
                                >a{
                                    display: flex;
                                    height: 100%;
                                    align-items: center;
                                    color: white;
                                    font-family: scaniareg;
                                    padding: 0 20px;
                                    transition: .4s;
                                    &:hover{
                                        color: rgb(146, 146, 146);
                                    }
                                }
                            }
                        }
                }
                >div{
                    display: flex;
                    width: 14%;
                    justify-content: flex-end;
                    align-items: center;
                    >a{
                        padding: 10px 20px;
                        border-radius: 7px;
                        background-color: #fe475c;
                        color: white;
                        font-size: 16px;
                        font-family: scaniabold;
                    }
                }
            }
        }
        >section{
            height: 90%;
            justify-content: center;
            align-items: center;
            >div{
                width: 50%;
                min-height: 100px;
                // @extend %bgt;
                >hgroup{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    *{
                        width: 100%;
                        text-align: center;
                    }
                    >h1{
                        font-size: 58px;
                        line-height: 70px;
                        color: white;
                        font-family: scaniareg;
                    }
                    >p{
                        width: 70%;
                        font-size: 20px;
                        color: white;
                        font-family: scaniareg;
                        margin-top: 20px;
                    }
                }
                >.row{
                    display: flex;
                    justify-content: center;
                    >a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 150px;
                        height: 55px;
                        border-radius: 50px;
                        margin: 30px 10px;
                        color: white;
                        font-family: scaniareg;
                        &:first-of-type{
                            background-color: #fe475c;
                        }
                        &:last-of-type{
                            border: 1px solid white;
                            transition: .4s;
                            &:hover{
                                background-color: #fff;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }
}
.sess2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    // @extend %bt;
    >div{
        width: 70%;
        height: 300px;
        margin: 0 auto;
        >hgroup{
            margin-top: 70px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            *{
                width: 100%;
                text-align: center;
            }
            >h2{
                width: 100%;
                font-size: 40px;
                line-height: 70px;
                color: rgb(20, 20, 20);
                font-family: scaniareg;
            }
            >p{
                width: 70%;
                font-size: 20px;
                color: rgb(20, 20, 20);
                font-family: scaniareg;
                margin-top: 20px;
            }
        }
    }
}
.sess3{
    // @extend %bt;
    width: 100%;

    >figure{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        >a{
            >img{
                width: 634px;
            }
        }
    }
}
.sess4{
    width: 100%;
    // @extend %bt;
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    >.container{
        margin-top: 100px;
        >span{
            font-family: scaniareg;
            font-size: 35px;
            display: flex;
            justify-content: center;
        }
        >.other{
            width: 80%;
            height: auto;
            // @extend %bgt;
            margin: 60px auto ;
            >.row{
                width: 100%;
                display: flex;
                justify-content: center;
                >div{
                    // @extend %bt;
                    width: 380px;
                    height: 150px;
                    display: flex;
                    margin: 20px 40px;
                    // justify-content: center;
                    >div{
                        width: 10%;
                        display: flex;
                        justify-content: flex-start;
                        margin: 17px 10px;
                        >i{
                            font-size: 24px;
                            color: #fe475c;
                        }
                    }
                    >hgroup{
                        width: 85%;
                        margin-top: 19px;
                        >h3{
                            font-family: scaniabold;
                            font-size: 18px;
                        }
                        >p{
                            width: 100%;
                            text-align: justify;
                            padding: 13px 10px 0 0;
                            font-family: scaniareg;
                            font-size: 14px;
                            line-height: 23px;
                        }
                    }
                }
            }
        }
    }
}
.sess5{
    width: 100%;
    height: 850px;
    // @extend %bt;
    display: flex;
    justify-content: center;
    >div{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        >hgroup{
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            margin-top: 100px;
            width: 38%;
            >h3{
                font-size: 30px;
                font-family: scaniabold;
            }
            >p{
                font-size: 15px;
                font-family: scaniareg;
                padding-top: 15px;
                line-height: 25px;
            }
        }
        >.people{
            width: 85%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 60px;
            text-align: center;
            >div{
                >img{
                    width: 270px;
                    border-radius: 15px;
                }
                >h3{
                    font-family: scaniareg;
                    margin: 10px 0;
                }
                >span{
                    font-family: scaniareg;
                    color: #fe475c;
                    margin-top: 10px;
                }
            }
        }
    }
}
.sess6{
    width: 100%;
    // @extend %bt;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    >.information{
        width: 70%;
        margin: 100px 0;
        display: flex;
        justify-content: center;
        >figure{
            width: 50%;
            display: flex;
            justify-content: center;
            >img{
                width: 70%;
            }
        }
        >div{
            width: 50%;
            
            >hgroup{
                width: 100%;
                margin: 50px 0;
                >h3{
                    width: 80%;
                    font-size: 28px;
                    font-family: scaniabold;
                    line-height: 40px;
                }
                >p{
                    width: 90%;
                    font-family: scaniareg;
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 15px;
                }
            }
            >div{
                width: 100%;
                margin-top: 23px;
                >i{
                    color: #fe475c;
                }
                >span{
                    font-family: scaniareg;
                    padding: 10px;
                }
            }
        }
    }
}
.sess7{
    width: 100%;
    height: 1000px;
    // @extend %bt;
    display: flex;
    justify-content: center;
    >div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        >hgroup{
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            margin-top: 130px;
            width: 38%;
            >h3{
                font-size: 30px;
                font-family: scaniabold;
            }
            >p{
                font-size: 15px;
                font-family: scaniareg;
                padding-top: 15px;
                line-height: 25px;
            }
        }
        >.blog{
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            >div{
                // @extend %bt;
                >img{
                    width: 400px;
                }
                >div{
                    color: #fe475c;
                    font-family: scaniareg;
                    margin: 10px 0;
                }
                >hgroup{
                    width: 400px;
                    text-align: justify;
                    margin: 15px 0;
                    >h3{
                        font-family: scaniabold;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    >p{
                        font-family: scaniareg;
                        font-size: 14px;
                    }
                }
                >a{
                    font-family: scaniareg;
                    color: #fe475c;
                    position: relative;
                    &::after{
                        content: '';
                        display: flex;
                        width: 100%;
                        height: 1px;
                        background-color: #fe475c;
                        position: absolute;
                        bottom: -3px;
                    }
                }
            }
        }
        >.link{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            >a{
                width: 170px;
                height: 50px;
                background-color: #fe475c;
                color: #fff;
                font-family: scaniareg;
                border-radius: 6px;
                text-align: center;
                padding: 15px 30px;
                margin-bottom: 40px;
            }
        }
    }
}
footer{
    width: 100%;
    height: 300px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    >.row{
        width: 70%;
        // @extend %bt;
        display: flex;
        >.logo{
            width: 33%;
            text-align: center;
            >figure{
                justify-content: center;
                align-items: center;
                >img{
                    width: 90px;
                }
            }
            >p{
                color: #fff;
                font-family: scaniareg;
                font-size: 14px;
                margin-top: 10px;
            }
        }
        >.links{
            // @extend %bt;
            width: 34%;
            display: flex;
            align-items: center;
            flex-direction: column;
            >h3{
                color: #fff;
                font-family: scaniareg;
                margin: 10px 0;
                font-size: 18px;
            }
            >ul{
                text-align: left;
                >li{
                    margin: 5px;
                    >a{
                     
                        color: #F7F7F7;
                        font-family: scaniareg;
                        font-size: 13px;
                        >i{
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        >.community{
            width: 33%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            >span{
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
                color: #fff;
                font-family: scaniareg;
                font-size: 18px;
                margin-top: 10px;
            }
            >.social{
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: center;
                align-content: center;
                >a{
                    color: #fff;
                    font-size: 24px;
                    padding: 0 10px;
                }
            }
        }
    }
}